{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .flex-column {
      max-width: 250px;
    }

    img {
      margin: 6px;
    }
  </style>
{% endblock %}

{% block title %}Gallery{% endblock %}

{% block content %}
<div class="container-fluid">
<h1 class="text-center">Gallery</h1>
<hr>
<div class="d-flex flex-wrap justify-content-center">
        {% for names in data %}
		<div class="d-flex flex-column">
			{% for name in names %}			
				<img class="img-fluid" src="{{url_for('send_image', filename=name)}}">
			{% endfor %}
		</div>
        {% endfor %}
</div>
</div>
{% endblock %}