{% extends 'base.html' %}
{% block title %}
    Instagram-killer
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="jumbotron min-vh-100 text-center m-0 bg-info d-flex flex-column justify-content-center"
			style="background-image: url({{url_for('static', filename='photo-1651103324862-b5003ba7ae34.jpg')}});
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100% ">

                <h1 class="display-4">Instagram-killer</h1>
                <p class="lead">Here you can upload your image and smth more...</p>
				<form method=post enctype=multipart/form-data>
					<input type=file name=file>
					<input type=submit value=Upload class="btn btn-primary my-2">
					<a class="btn btn-secondary my-2" href="{{url_for('show_gallery')}}" role="button">Gallery</a>
				</form>
                <p class="lead">
				
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}